@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body{
  margin:0;
}

body{
  background-color: rgba(132, 75, 39, 0.389);
}

.header{
  display:flex;
  justify-content:space-between;
  width:100%;
  height:60px;
  background-color: rgba(14, 6, 3, 0.8);
  position:fixed;
  top:0;
}

.header-name {
    color:rgb(18, 159, 154);
    font-family: 'cherry Swash',cursive;
    
  }

  .btn {
    display: inline-block;
    padding:10px 15px;
  }

.cart{
  background-color:rgba(90, 64, 45,0.5);
  color:rgb(241, 245, 9);
}

.option{
  background-color: rgba(90, 64, 45,0.5);
  color:rgb(241, 245, 9)
}

.fa{
  font-size: 25px;
  line-height:50px;
}


.top{
  margin:65px 0 0 170px;
}

.top-explain{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

li{
  list-style:none;
  float:left;
  width:33%;
}


.main{
  border:20px 10px;
}


.pic{
  width:200px;
  height:200px;
}

.explain{
  color:black;
}